.nav {
  background-color: #000;
  color: #fffdef;
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 35px;
}

Carousel span {
  font-weight: bold;
}

.images {
  max-width: 100%;
}